* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(320deg, #B8E7FA, #E6E6FA);
}

nav {
    padding: 1.5% 6.5%;
    background-color: #FFFFFF;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h2 {
    padding: 0;
}

.heading span {
    color: #FFA500;
}

#careerio {
    font-size: 28px;
}

.btn {
    background-image: linear-gradient(90deg, #FFA500, #FFD447);
    border-radius: 10px;
    padding: 17px 30px;
    border: none;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0px 5px 10px -5px #0D1321;
    transition: 1s;
    cursor: pointer;
}

.btn:hover {
    background-image: linear-gradient(90deg, #ff7300, #ffb547);
    transform: scale(1.1);
    box-shadow: 0px 5px 34px -4px #ff5700
}

section {
    margin: 10% 10%;
}


h2 {
    padding-bottom: 24px;
    font-size: 32px;
}

h3 {
    padding-bottom: 16px;
    font-size: 24px;
}

p {
    padding-bottom: 32px;
    font-size: 1rem;
    line-height: 26px;
    color: #0D132170;
}

.hero-area,
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-area,
.why-ans {
    background-color: #E6EDF9;
    padding: 40px 60px;
    border-radius: 16px;
}


.dp img {
    max-height: 15rem;
    padding-bottom: 32px;
}

.hero-content h1 {
    font-size: 48px;
    line-height: 68px;
    margin-bottom: 24px;
}

.questions {
    display: flex;
    flex-direction: column;
}

.why {
    text-align: center;
    max-width: 60%;
    margin: auto;
}

.why-ans {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ans-left {
    max-width: 60%;
}

.ans-right {
    max-width: 40%;
}

.ans-right img {
    width: 106%;
    padding-left: 4%;
}

.inspiration {
    margin: 10% 15%;
}

.inspiration-quote {
    text-align: center;
    max-width: 70%;
    margin: auto;
}

.video {
    border: 1px solid #0D132120;
    border-radius: 16px;
    display: flex;
    align-items: center;
    /* margin: 0 auto; */
}

iframe {
    padding: 3%;
    width: 100%;
    height: 40rem;
    border-radius: 16px;
}

.target-goal {
    text-align: center;
    max-width: 60%;
    margin: auto;
}

.cards-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.card {
    padding: 3% 2%;
    background-image: linear-gradient(#E6EDF9, #9DE5FF);
    width: 25vw;
    height: 230px;
    box-shadow: 0px 4px 20px #00000025;
    border-radius: 16px;
    transition: 1s;
}

.card:hover {
    background-image: linear-gradient(180deg, #bfd0ee, #89d2ec);
    transform: scale(1.1);
    box-shadow: 0px 5px 34px -4px #4e4845
}

.card img,
h3 {
    padding-bottom: 18px;
}

footer {
    padding: 32px 10%;
    background-color: #FFFFFF60;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer span {
    font-size: 20px;
    font-weight: 600;
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: 2px;
}

footer img {
    margin-left: 24px;
}

@media screen and (max-width: 992px) {
    h2 {
        font-size: 28px;
    }

    .btn {
        padding: 12px 25px;
        font-size: 0.8rem;
    }

    .hero-content h1 {
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 22px;
    }

    iframe {
        padding: 3%;
        width: 100%;
        height: 20rem;
        border-radius: 16px;
    }

    .inspiration {
        margin: 10% 12%;
    }

    footer span {
        font-size: 18px;
    }

    footer img {
        margin-left: 18px;
        width: 30px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        padding: 1.5% 6.5%;
        background-color: #FFFFFF;
    }

    h2 {
        font-size: 24px;
    }

    .dp img {
        max-height: 12rem;
        padding-bottom: 32px;
    }

    .hero-content h1 {
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 16px;
    }

    p {
        padding-bottom: 22px;
        font-size: 14px;
        line-height: 22px;
    }

    .hero-area,
    .why-ans {
        background-color: #E6EDF9;
        padding: 24px 30px;
        border-radius: 16px;
    }

    footer {
        padding: 22px 10%;
    }

    footer img {
        margin-right: 6px;
        width: 30px;
    }

    footer span {
        font-size: 16px;
    }

    .logo {
        display: flex;
        flex-direction: column;
    }


}

@media screen and (max-width: 600px) {
    .btn {
        padding: 8px 13px;
        font-size: 12px;
    }

    .hero-content h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    p {
        padding-bottom: 16px;
        font-size: 13px;
        line-height: 20px;
    }

    h2 {
        font-size: 22px;
        padding-bottom: 14px;
    }

    .why {
        max-width: 75%;
    }

    .why-ans {
        display: flex;
        flex-direction: column;
    }

    .ans-left {
        max-width: 100%;
    }

    .ans-right {
        max-width: 100%;
    }

    .ans-right img {
        width: 100%;
    }

    .target-goal {
        max-width: 75%;
    }

    .cards-box {
        flex-direction: column;
    }

    .card {
        margin: 3% 2%;
        padding: 5% 10%;
        width: 76vw;
        height: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card img {
        width: 56px;
    }

    .card h3 {
        font-size: 18px;
        padding-bottom: 5px;
    }

}

@media screen and (max-width: 425px) {}